version: "3.8"

services:
  app:
    build: .
    container_name: laravel_app
    ports:
      - "80:80"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_DATABASE: lungsurin
      DB_USERNAME: root
      DB_PASSWORD: root

  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: lungsurin
    ports:
      - "3306:3306"
